*{
    margin:0;
    padding:0;
}

header{
    background-color: rgba(119, 22, 175, 0.979);
    text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top:0; 
}
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
nav{
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0; 
    background-color: rgba(119, 22, 175, 0.979);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out; 
}
nav a{
    margin-bottom: 1em;
    margin-right: 1em;
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    font-weight:bold;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
nav a:hover {
    color: #000;
  }

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
.who{
    font-family:Algerian;
    font-size:2rem;
    text-shadow: 2px 2px 5px orangered;
    font-style: italic;
    color:white;
}
#welcome-section{
    text-align:center;
    background-color:black;
    font-family:Algerian;
    height:100vh; 
}
.welcome-words{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top:15px;
}
.welcome-words h1{
    font-size: 3rem;
    color:#9b2187;
    text-shadow: 2px 2px 5px orangered;
}
.welcome-words h2{
    font-family: forte;
    color: rgb(71, 57, 31);
    font-size:2rem;
}
.welcome-words{
    padding: 25px;
}
.welcome-image{
    background-image: url("https://images.unsplash.com/photo-1572373785011-af1fe5216e15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
    height:100%;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}

#projects{
    display:flex;
    justify-content: space-around;
    background-color: black;
}
.project-tile{
    border:solid thin none;
    width:16.5%;
    margin-top:10px;
    text-align: center;
    font-weight: bolder;
    box-shadow: 5px 10px 18px grey;

}
#connect{
    text-align: center;
    padding:20px;
    background-color:rgba(119, 22, 175, 0.979);
    font-size:2rem;
    color:white;
}
#profile-link{
    text-decoration:none;
    color: orange;
}
#profile-link:hover{
    color:yellow;
}
@media only screen and (max-width:500px){
    #projects{
        flex-wrap:wrap;
        flex-direction: column;
    }
}
@media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .who {
      grid-column: 2 / 3;
    }
    nav{
        position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    }
    nav a{
        display: flex;
        margin-left: 3em;
        margin-bottom: 0;
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
      }
      
      nav a:hover::before {
        transform: scale(1,1);
      }
    }
   