@media{
    body {
      background-color:palevioletred;
    }
  }



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav_link{
    display: flex;
    padding-right:20px;
    font-size:1.2rem;
    font-weight:bold;
    text-decoration: none;

}
 .logo{
     font-size: 2rem;
 }
 .nav_link_item{
     margin-right:8px;
 }
 .heading{
     margin: 1rem 0 1rem 0;
     text-align: center;
 }
 .sub-heading{
     font-size: 1.5rem;
     margin: 0.5rem;
     text-align: center;
 }
 p {
    font-style: oblique;
    font-weight: bold;
    align-items: center;
    font-size:15pt;
    overflow: hidden;
    animation-duration:3s;
    animation-name:slidein;
  }
  .category-row{
    display: flex;
    justify-content: center;
    
  }
  .category{
    border:1px solid ;
    width: 60%;
    height:60%;
    margin: 1.5rem;
    object-fit: cover;
  }
  .ann{
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  }